In [ ]:
%load_ext sql
%sql postgres://isdb16@localhost/postgres

In [ ]:
%%sql

DROP TABLE if EXISTS Temperatures;
DROP TABLE if EXISTS hottest_temperature;

CREATE TABLE Temperatures (
   city  text,
   DAY   INT,
   high_temp  FLOAT
   );

In the below synthetic data I've created data for 3 cities and sample dates. Note the following cities with the temperatures on
```
        1st   mesa 
        2nd   phoenix
        5th   phoenix, mesa
        7th   tempe
        9th   mesa
```

Based on this we see that
       mesa has the highest temperature 3 times
       phoenix 2 times
       tempe 1 time
Hence the output will be

```
       count |  city
      -------+---------
           3 | mesa
           2 | phoenix
```

In [ ]:
%%sql

INSERT INTO Temperatures (city, DAY, high_temp) VALUES
   ('phoenix', 1, 110),
   ('phoenix', 2, 110),      -- 2
   ('phoenix', 5, 110),      -- 5
   ('phoenix', 7, 109),

   ('mesa', 1, 112),         -- 1
   ('mesa', 2, 109),
   ('mesa', 5, 110),         -- 5
   ('mesa', 7, 109),
   ('mesa', 9, 109),         -- 9

   ('tempe', 7, 112)         -- 7

In [ ]:
%%sql

-- find the hottest temperatures for each day

DROP TABLE IF EXISTS Hottest_Temperatures;