## Triggers Exercise

In [31]:
%load_ext sql
%sql postgres://isdb16@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: isdb16@postgres'

#### A populated Students table

In [32]:
%%sql

drop table if exists Students;

create table Students(name text, exam float, per float);

insert into Students (name, exam)
       values ('Jack', 60), ('Jill', 70), ('Pat', 80);
    
select * from Students;

Done.
Done.
3 rows affected.
3 rows affected.

[('Jack', 60.0, None), ('Jill', 70.0, None), ('Pat', 80.0, None)]

In [41]:
%%sql

drop function if exists fn_percent_incr() cascade;

create function fn_percent_incr() returns trigger
language plpgsql as
$$
BEGIN
    UPDATE Students
       set per = (new.exam-old.exam)/old.exam * 100
    WHERE name = new.name;
    return null;
END
$$;

CREATE TRIGGER tr_percent_incr AFTER UPDATE of exam ON Students
  FOR EACH ROW
  EXECUTE PROCEDURE fn_percent_incr();

Done.
Done.
Done.

[]

In [40]:
%%sql

UPDATE Students
   SET exam = exam + 10
 WHERE name = 'Jack'

1 rows affected.

[]

In [38]:
%sql select * from Students;

3 rows affected.

[('Jill', 70.0, None), ('Pat', 80.0, None), ('Jack', 80.0, 14.2857142857143)]