## Triggers Exercise

In [ ]:
%load_ext sql
%sql postgres://isdb16@localhost/postgres

#### A populated Students table

In [ ]:
%%sql

drop table if exists Students;

create table Students(name text, exam float, per float);

insert into Students (name, exam)
       values ('Jack', 60), ('Jill', 70), ('Pat', 80);
    
select * from Students;

In [ ]:
%%sql

drop function if exists fn_percent_incr() cascade;

create function fn_percent_incr() returns trigger
language plpgsql as
$$
BEGIN
    
    
    
    
    
END
$$;

-- something is not complete below !!!

CREATE TRIGGER tr_percent_incr AFTER UPDATE ON Students
  FOR EACH ROW
  EXECUTE PROCEDURE fn_percent_incr();

In [ ]:
%%sql

UPDATE Students
   SET exam = exam + 10
 WHERE name = 'Jack'

In [ ]:
%sql select * from Students;